<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2 class="footer-heading mb-3">Little Dream</h2>
        <p class="mb-4"><span> <i class="fa fa-phone pr-2 icon" aria-hidden="true"></i>  Mobile Number : +91 8787044476</span></p>
        <p ><span> <i class="fa fa-envelope-o pr-2 icon" aria-hidden="true"></i> Email: littledream2016@gmail.com</span></p>

  
      </div>
      <!-- <div class="col-lg-8">÷ -->
        <!-- <div class="row"> -->
          <div class="col-lg-6">
            <h2 class="footer-heading mb-3"><i class="fa fa-map-marker pr-2 text-danger icon" aria-hidden="true"></i> Address</h2>
            <p> Little Dream World Education Centre IIT Society Gopalpuram , Kalyanpur Kanpur Nagar</p>
            <div class="d-flex flex-row">
              <div class="p-2"><i class="fa fa-linkedin-square icon text-white" aria-hidden="true"></i></div>
              <div class="p-2"><i class="fa fa-facebook-square icon text-white" aria-hidden="true"></i></div>
              <div class="p-2"><i class="fa fa-twitter-square icon text-white" aria-hidden="true"></i></div>
              <div class="p-2"><i class="fa fa-twitter-square icon text-white" aria-hidden="true"></i></div>
            </div>
          </div>
        <!-- </div> -->
      <!-- </div> -->
    </div>
    <div class="row pt-5 mt-5 text-center">
      <div class="col-md-12">
        <div class="border-top pt-5">
          <p>
            Copyright © 2021 Little Dream World Education | Developed by <a href="http://prashant18.herokuapp.com/">Prashant katiyar </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>