<header class="site-navbar site-navbar-target" role="banner">
    <div class="container mb-3">
        <div class="d-flex align-items-center p-3">
            <div class="site-logo mr-auto">
                <a>Little Dream<span class="text-primary">.</span></a>
            </div>
            <div class="site-quick-contact d-none d-lg-flex ml-auto ">
                <div class="d-flex site-info align-items-center mr-5">
                    <span class="block-icon mr-3"><i class="fa fa-map-marker text-yellow" aria-hidden="true"></i></span>
                    <span>Little Dream World Education Centre <br> IIT Society Gopalpuram,Kalyanpur Kanpur Nagar</span>
                </div>
                <div class="d-flex site-info align-items-center">
                    <span class="block-icon mr-3">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        <!-- <span class="icon-clock-o"></span> -->
                    </span>
                    <span>Monday - Saturday 8:30AM - 1:30PM <br> Sunday CLOSED</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="menu-wrap d-flex align-items-center">
            <span class="d-inline-block d-lg-none"><a href="#"
                    class="text-black site-menu-toggle js-menu-toggle py-5"><span
                        class="icon-menu h3 text-black"></span></a></span>
            <nav class="site-navigation text-left mr-auto d-none d-lg-block" role="navigation">
                <ul class="site-menu main-menu js-clone-nav mr-auto ">
                    <li class="active">
                        <a class="nav-link" routerLink="/home" (click)="activeProject()">Home</a>
                    </li>
                    <li><a routerLink="/about" class="nav-link">About</a></li>
                    <li><a routerLink="/gallery" class="nav-link">Gallery</a></li>
                    <li><a routerLink="/events" class="nav-link">Events</a></li>
                    <li><a routerLink="/contact" class="nav-link">Contact</a></li>
                </ul>
            </nav>
            <div class="top-social ml-auto">
                <a href="#">
                    <i class="fa fa-facebook text-teal" aria-hidden="true"></i>
                    <!-- <span class="icon-facebook "></span> -->
                </a>
                <a href="#">
                    <i class="fa fa-twitter text-success" aria-hidden="true"></i>
                    <!-- <span class="icon-twitter "></span> -->
                </a>
                <a href="#">
                    <i class="fa fa-linkedin text-yellow" aria-hidden="true"></i>
                    <!-- <span class="icon-linkedin "></span> -->
                </a>
            </div>
        </div>
    </div>
</header>