<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300" data-aos-easing="slide"
  data-aos-duration="800" data-aos-delay="0">
  <div class="site-wrap" id="home-section">
    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body">
        <ul class="site-nav-wrap">
          <li class="active"><a href="index.html" class="nav-link">Home</a></li>
          <li><a href="about.html" class="nav-link">About</a></li>
          <li><a href="packages.html" class="nav-link">Packages</a></li>
          <li><a href="gallery.html" class="nav-link">Gallery</a></li>
          <li><a href="pricing.html" class="nav-link">Pricing</a></li>
          <li><a href="contact.html" class="nav-link">Contact</a></li>
        </ul>
      </div>
    </div>

    <div class="ftco-blocks-cover-1">
      <div class="site-section-cover overlay">
        <div class="container">
          <div class="row align-items-center ">
            <div class="col-md-5 mt-5 pt-5">
              <span class="text-cursive h5 text-red">Welcome To Little Dream World Education Centre</span>
              <h1 class="mb-3 font-weight-bold text-teal">Bring Fun Life To Your Kids</h1>
              <p>Amazing Playground for your kids</p>
              <p class="mt-5"><a href="#" class="btn btn-primary py-4 btn-custom-1">Learn More</a></p>
            </div>
            <div class="col-md-6 ml-auto align-self-end">
              <img src="../../../assets/img/litty_1.webp" alt="Image" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="block-2 red">
              <span class="wrap-icon">
                <span class="fa fa-home"></span>
              </span>
              <h2>Indoor Games</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima nesciunt, mollitia, hic enim id culpa.
              </p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="block-2 yellow">
              <span class="wrap-icon">
                <span class="fa fa-user"></span>
              </span>
              <h2>Outdoor Game And Event</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima nesciunt, mollitia, hic enim id culpa.
              </p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="block-2 teal">
              <span class="wrap-icon">
                <span class="fa fa-cog"></span>
              </span>
              <h2>Camping for Kids</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima nesciunt, mollitia, hic enim id culpa.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="site-section bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-5 mb-5 mb-md-0">
            <img src="../../../assets/img/Manager_adobespark.jpeg" alt="Image" class="img-fluid">
          </div>
          <div class="col-md-6 ml-auto pl-md-5">
            <span class="text-cursive h5 text-red">MANAGER’S DESK </span>
            <h3 class="text-black">MANAGER’S MESSAGE</h3>
            <p><span>I would like to say that “To read is to learn, to learn is to grow, to grow is life”. There can be
                no substitute for a best friend like books and no better way of improving your command on a language and
                expanding your vocabulary. Books are like a ocean where you can seek the treasure of immense knowledge
                of everything in and around the universe, no gadget can replace book reading.
              </span></p>
            <h3> There are few statements which we need to always keep in our mind:- </h3>
            <ul class="list-unstyled">
              <li><i class="fa fa-check pr-1" aria-hidden="true"></i> Education comes from within; you get it by
                struggle and effort and thought.
              </li>
              <li> <i class="fa fa-check pr-1" aria-hidden="true"></i> Education is the key to success in life, and
                teachers make a lasting impact in the lives of their students.
              <li> <i class="fa fa-check pr-1" aria-hidden="true"></i> The purpose of education is to replace an empty
                mind with an open one
            </ul>
            <p class="mt-5"><a href="#" class="btn btn-warning py-4 btn-custom-1">More About Us</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-5 mb-4">
            <img src="../../../assets/img/PRINCIPAL_adobespark.jpeg" alt="Image" class="img-fluid"
              data-pagespeed-url-hash="1507771064" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
          </div>
          <div class="col-md-6 ml-auto pl-md-5">
            <span class="text-cursive h5 text-red">PRINCIPAL’S DESK </span>
            <h3 class="text-black">PRINCIPAL'S MESSAGE</h3>
            <p>My Dear Children,<br></p>
            <div class="pl-2">
              <p>
                The school was established in Feb’2016 on occasion of Basant Panchami and perform Maan Saraswati Poojan
                by
                Mr. Rakesh Katiyar (Manager) and Mrs. Renu Katiyar (Principal)
                The school growing day by day by resulting students performance through hard work of Management and
                staff.
                Three wonderful epithets – lively, friendly an unpretentious – continue to epitomize the school and set
                us
                apart from the others.
                We will continue to progress in efforts to educate young children and instill in them the moral values
                and
                academic excellence for a successful career because it is through accomplishment that man makes his
                contribution to the development of society & humanity.
                Slogan – Developing little minds. There is no top, there is always further heights to reach !!!!!
              </p>
            </div>
            <ul class="list-unstyled">
              <li><i class="fa fa-check pr-1" aria-hidden="true"></i> Responsibility & Trust

              </li>
              <li> <i class="fa fa-check pr-1" aria-hidden="true"></i> Sustain Growth

              <li> <i class="fa fa-check pr-1" aria-hidden="true"></i> Empowered Children
            </ul>
            <p class="mt-5"><a href="#" class="btn btn-success py-4 btn-custom-1">More About Us</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section bg-info ">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center">
            <span class="text-cursive h5 text-red d-block">Packages You Like</span>
            <h2 class="text-white">Our Packages</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="package text-center bg-white ">
              <span class="img-wrap"><img src="../../../assets/img/001-jigsaw.svg" alt="Image" class="img-fluid"></span>
              <h3 class="text-teal">Indoor Games</h3>
              <p>Lorem ipsum dolor sit amet. Consequatur aliquam, fuga maiores amet quo corporis distinctio soluta
                recusandae?</p>
              <p><a href="#" class="btn btn-primary btn-custom-1 mt-4">Learn More</a></p>
            </div>
          </div>
          <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="package text-center bg-white">
              <span class="img-wrap"><img src="../../../assets/img/003-mission.svg" alt="Image" class="img-fluid"
                  data-pagespeed-url-hash="2380498250"
                  onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></span>
              <h3 class="text-success">Outdoor Game and Event</h3>
              <p>Lorem ipsum dolor sit amet. Consequatur aliquam, fuga maiores amet quo corporis distinctio soluta
                recusandae?</p>
              <p><a href="#" class="btn btn-warning btn-custom-1 mt-4">Learn More</a></p>
            </div>
          </div>
          <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="package text-center bg-white">
              <span class="img-wrap"><img src="../../../assets/img/002-target.svg" alt="Image" class="img-fluid"
                  data-pagespeed-url-hash="2687486724"
                  onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></span>
              <h3 class="text-danger">Camping for Kids</h3>
              <p>Lorem ipsum dolor sit amet. Consequatur aliquam, fuga maiores amet quo corporis distinctio soluta
                recusandae?</p>
              <p><a href="#" class="btn btn-success btn-custom-1 mt-4">Learn More</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="text-cursive h5 text-red d-block">Vission and Mission</span>
            <h2 class="text-black">Our Vission and Mission</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo quis cupiditate fugit, voluptatibus ullam,
              non laboriosam alias veniam, ex inventore iure sed?</p>
          </div>
          <div class="col-md-4">
            <div class="pricing teal">
              <span class="price">
                <span><i class="fa fa-low-vision" aria-hidden="true"></i></span>
              </span>
              <h3 class="text-teal text-cursive ">Vission</h3>
              <ul class="list-unstyled teal">
                <li><i class="fa fa-check pr-1 icon" aria-hidden="true"></i> To build each student's resilience and self
                  esteem.
                </li>
                <li> <i class="fa fa-check pr-1 icon" aria-hidden="true"></i> To provide a curriculum that is rich and
                  relevant and allows all students to succeed.
                </li>
                <li> <i class="fa fa-check pr-1 icon" aria-hidden="true"></i> To promote a strong, supportive
                  partnership between home and the school and the wider community.
                </li>
                <li> <i class="fa fa-check pr-1 icon" aria-hidden="true"></i> To have high expectations of ourselves and
                  others
                </li>
              </ul>
              <!-- <p><a href="#" class="btn btn-teal btn-custom-1 mt-4">Buy Now</a></p> -->
            </div>
          </div>
          <div class="col-md-4">
            <div class="pricing danger">
              <span class="price">
                <span><i class="fa fa-bullseye" aria-hidden="true"></i></span>
              </span>
              <h3 class="text-red text-cursive ">Mission
              </h3>
              <ul class="list-unstyled danger">
                <li> <i class="fa fa-check pr-1 icon_red" aria-hidden="true"></i> Our school promotes a safe, orderly,
                  caring and supportive environment.</li>
                <li> <i class="fa fa-check pr-1 icon_red" aria-hidden="true"></i> We strive to have our parents,
                  teachers and community members actively involved on our student’s learning
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section bg-light">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center">
            <span class="text-cursive h5 text-red d-block">Facilities</span>
            <h2 class="text-black">We Invest in Facilities</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-4 mb-4">
            <div class="facility_block_1">
              <ul class="list-unstyled text-white">
                <li><i class="fa fa-check pr-1" aria-hidden="true"></i> Separate class room for separate section
                </li>
                <li> <i class="fa fa-check pr-1" aria-hidden="true"></i> Experience Teachers
                </li>
                <li> <i class="fa fa-check pr-1" aria-hidden="true"></i> Projector Class room
                </li>
                <li> <i class="fa fa-check pr-1" aria-hidden="true"></i> Library
                </li>
                <li><i class="fa fa-check pr-1" aria-hidden="true"></i> Computer Classes
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="facility_block_2">
              <ul class="list-unstyled text-white">
                <li><i class="fa fa-check pr-1" aria-hidden="true"></i> CBSE & Competitive Patterns
                </li>
                <li> <i class="fa fa-check pr-1" aria-hidden="true"></i> Follow ups by Senior Management on weekly basis
                </li>
                <li> <i class="fa fa-check pr-1" aria-hidden="true"></i> Fresh drinking water
                </li>
                <li> <i class="fa fa-check pr-1" aria-hidden="true"></i> Music, Dance & cultural Activities
                </li>
                <li><i class="fa fa-check pr-1" aria-hidden="true"></i> Art & Craft workshop
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="facility_block_3">
              <ul class="list-unstyled text-white">
                <li><i class="fa fa-check pr-1" aria-hidden="true"></i> Air ventilated class rooms
                </li>
                <li> <i class="fa fa-check pr-1" aria-hidden="true"></i> Sports activities based on Motivational &
                  discipline
                </li>
                <li> <i class="fa fa-check pr-1" aria-hidden="true"></i> Lawn for Games
                </li>
                <li><i class="fa fa-check pr-1" aria-hidden="true"></i> Conveyance facility
                </li>
                <li><i class="fa fa-check pr-1" aria-hidden="true"></i> Scholarship facility for poor students
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="site-section py-5 bg-warning">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-12 d-flex">
            <h1 class="text-white mt-2">Interested in Studying at Little Dream World Education Centre ?</h1>
            <a href="#" class="btn btn-primary btn-custom-1 py-3 px-5 ml-auto">Apply Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>